/* common */
* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    width: 1250px;
}

/* header영역 */

header {
    margin: 20px 0;
}

header div.top .logo{
    float: left;
    margin-bottom: 15px;
}

header div.top .menu {
    float: right;
    width: 70%;
}

header div.top .menu .navi {
    background: purple;
}

header div.top .menu .navi li a{
    display: block;
    width: 25%;
    float: left;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    font-weight: 700;
    box-sizing: border-box;
}



/* bodywrap 영역 */
.bodywrap .imgslide {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.bodywrap .imgslide a img{
    width: 1250px;
}
.bodywrap .imgslide a span{
    display: block;
    background: rgba(40, 40, 40, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px 140px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* contents 영역 */
.contents {
    width: 33.333%;
}
.contents .tabmenu {
    float: left;
}
/* otherwrap 영역 */
.contents .otherwrap .banner {
    float: left;
}
.contents .otherwrap .shortcut {
    float: left;
}
/* modal 영역 */